@media (min-width: 1201px) {
  .container {
    width: auto;
    max-width: 100%;
    padding: 0 5%;
  }
}

@media (max-width: 991px) {
  .nav-bar {
    display: none !important;
  }
  #button-menu {
    display: block;
  }
}